# EditorConfig is awesome: https://editorconfig.org
root = true

############################
# Global defaults
############################
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

############################
# Java / Gradle
############################
[*.java]
indent_size = 4
continuation_indent_size = 8

[*.gradle]
indent_size = 4

############################
# TypeScript / JavaScript
############################
[*.{ts,tsx,js,jsx}]
indent_size = 2

############################
# JSON / YAML
############################
[*.json]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

############################
# Markdown
############################
[*.md]
trim_trailing_whitespace = false
max_line_length = off

############################
# Shell scripts
############################
[*.sh]
indent_size = 2

############################
# Makefiles (tabs required)
############################
[Makefile]
indent_style = tab
