services:
  - type: web
    name: kindledrop-engine
    env: spring
    healthCheckPath: /actuator/health
    instanceCount: 1
    plan: free
    region: oregon
    runtime: docker
    dockerfilePath: ./services/engine/Dockerfile
    dockerContext: ./services/engine
    envVars:
      - key: KINDLEDROP_SMTP_HOST
        fromSecret: kindle-mail-setup
        key: host
      - key: KINDLEDROP_SMTP_PORT
        fromSecret: kindle-mail-setup
        key: port
      - key: KINDLEDROP_SMTP_STARTTLS
        fromSecret: kindle-mail-setup
        key: starttls
      - key: KINDLEDROP_SMTP_SSL
        fromSecret: kindle-mail-setup
        key: ssl
      - key: KINDLEDROP_SMTP_USER
        fromSecret: kindle-mail-setup
        key: username
      - key: KINDLEDROP_SMTP_FROM
        fromSecret: kindle-mail-setup
        key: mail
      - key: KINDLEDROP_SMTP_PASS
        fromSecret: kindle-mail-setup
        key: password
  - type: web
    name: kindledrop-web
    env: static
    instanceCount: 1
    plan: free
    region: oregon
    staticPublishPath: ./apps/web/dist
    buildCommand: |
      cd apps/web && npm install && npm run build
